body {
    background-image: url('background company.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color: #f44336;
    color: white;